@charset "UTF-8";
@font-face {
    font-family: 'WWFlakesRegular';
    src: url('../fonts/wwflakes-webfont.eot');
    src: local('O'), url('../fonts/wwflakes-webfont.woff') format('woff'), url('../fonts/wwflakes-webfont.ttf') format('truetype');
    /* src: local('WWFlakes'), local('WWFlakes'), url('clientscript/fonts/wwflakes-webfont.woff') format('woff'), url('clientscript/fonts/wwflakes-webfont.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almibar Pro';
    src: url('../fonts/AlmibarPro.eot');
    src: local('../fonts/Almibar Pro'), local('AlmibarPro'), url('../fonts/AlmibarPro.eot?#iefix') format('embedded-opentype'), url('../fonts/AlmibarPro.woff') format('woff'), url('../fonts/AlmibarPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "untitled-font-51";
    src: url("../fonts/untitled-font-51.eot");
    src: url("../fonts/untitled-font-51.eot?#iefix") format("embedded-opentype"), url("../fonts/untitled-font-51.woff") format("woff"), url("../fonts/untitled-font-51.ttf") format("truetype"), url("../fonts/untitled-font-51.svg#untitled-font-51") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "untitled-font-51" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-51" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
    content: "\61";
}

.icon-arrow-left:before {
    content: "\62";
}

.icon-arrow-right:before {
    content: "\63";
}

.icon-arrow-down:before {
    content: "\64";
}

.icon-marker:before {
    content: "\65";
}

.icon-up-thin:before {
    content: "\66";
}

.icon-smile-o:before {
    content: "\67";
}

.icon-info:before {
    content: "\68";
}

.banner-big .icon-info:before {
    font-size: 34px;
}

.icon-attention:before {
    content: "\69";
}